<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2017-2022 Micro Focus or one of its affiliates.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<configuration>
    <conversionRule conversionWord="loglevel"
                    converterClass="com.github.cafapi.logging.logback.access.converters.LogLevelConverter" />
    <conversionRule conversionWord="pidtid"
                    converterClass="com.github.cafapi.logging.logback.access.converters.ProcessAndThreadIdConverter" />

    <appender name="ACCESS-LOG-STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>           
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS,UTC}Z %pidtid %-5loglevel %-12header{X-TENANT-ID} %-4header{CAF-Correlation-Id}] AccessLog: %h %u "%r" %s %b "%header{Referer}" "%header{User-Agent}"</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender-ref ref="ACCESS-LOG-STDERR" />

</configuration>
